/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color:#d0e4f3;
	text-align:middle;
}

h1 {
	color:orange;
}

#wrapper {
	background-color:white;
	width:960px;
	border:2px solid white;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
}

#header {
	position:relative;
}

#login_logout_box {
	position:absolute;
	top:0px;
	right:0px;
	border: 1px dotted black;
	padding: 5px;
}