<!DOCTYPE html>
<html>
<head>
  <title>Playgrounds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="header"> Insert header here eventually
    </div>
    <div id="content"> Insert content here eventually
<%= yield %>

    </div>

    <div id="footer"> insert footer here eventually
        
    
    </div>

</body>
</html>
